<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>speechtotextml.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59EB3D582D7A6B910048437B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59EB3D6D2D7A6B930048437B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59EB3D772D7A6B930048437B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
